@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*--------------------------------------------*/

body{

    width: 100vw;
    height: 100vh;

    background-image: url(img/iara.png);
    background-color: #00000066;
    background-blend-mode: darken;
    background-size: cover;
    background-position: top right;

    display: flex;
    flex-direction: column;

    color: white;
    font-family: 'Karla', sans-serif;
}

/*--------------------------------------------*/

header{

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    height: 55px;
    width: 100vw;
    background-color: #000000AA;

    padding-left: 150px;
    padding-right: 150px;
}

nav{
    display: flex;
    align-items: center;
    height: 55PX;
}

.logo img{
    width: 115px;
}

.menu{
    display: flex;
    flex-direction: row;
    gap: 65px;
    list-style: none;
}

.menu a{
    display: flex;
    align-items: center;
    height: 55px;

    color: white;
    font-family: 'Karla', sans-serif;
    font-size: 15px;

    text-decoration: none;
    user-select: none;
    transition: 0.5s;
}

.menu a:hover {
    color: #d81f26;
}

.menu li:hover > .submenu{
    display: block;
}

/*--------------------------------------------*/

.submenu{
    display: none;
    background-color: #000000AA;
    list-style: none;
    position: absolute;
    width: 125px;
}

.submenu li{
    padding-bottom: 5px;
    padding-top: 5px;
    margin-left: 0;
}

.submenu a{
    color: white;
    font-family: 'Karla', sans-serif;
    font-size: 15px;
    padding-left: 7px;
    height: 23px;
    text-decoration: none;
}

.submenu a:hover{
    border-left: 7px solid #d81f26;
    transition: 0.1s;
}

/*--------------------------------------------*/

main{
    flex-grow: 6;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 30vh;
}

main h1{
    font-family: 'Karla', sans-serif;
    font-size: 50px;
    font-weight: bold;
    padding-bottom: 10px;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
    color: #ffffff00;
}

h2{
    font-family: 'Karla', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #d81f26;
}

p{
    font-size: 23px;
    font-weight: lighter;
    max-width: 700px;
}

/*--------------------------------------------*/

.info{
    display: flex;
    flex-direction: row;
    padding-top: 50px;
    width: 350px;
    justify-content: space-between;
}

.info p{
    font-size: 15px;
    color: white;
}
.info hr{
    border-color: #d81f26;
}

#ator{
    display: flex;
    flex-direction: column;
}

#personagem{
    display: flex;
    flex-direction: column;
}

#entidade{
    display: flex;
    flex-direction: column;
}

/*--------------------------------------------*/

footer{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer a{
    text-decoration: none;
}
footer p{
    text-align: center;
    font-size: 15px;
    font-family: 'Karla', sans-serif;
    color: white;
}

/*--------------------------------------------*/