@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*--------------------------------------------*/

body{

    width: 100vw;
    height: 100vh;

    background-image: url(img/cidade-invisivel.png);
    background-color: #000000AA;
    background-blend-mode: darken;
    background-size: cover;
    background-position: top right;

    display: flex;
    flex-direction: column;

    color: white;
}

/*--------------------------------------------*/

header{

    height: 50px;
    background-color: #000000AA;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-left: 150px;
    padding-right: 150px;
}

.logo img{
    width: 115px;
}

.links ul{
    display: flex;
    gap: 50px;
    list-style-type: none;
}

.links a{

    color: white;
    font-family: 'Karla', sans-serif;
    font-size: 15px;

    text-decoration: none;
    user-select: none;
    transition: 0.5s;
}

.links a:hover {
    color: #d81f26;
}

/*--------------------------------------------*/

main{
    flex-grow: 6;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 25vh;
}

main h2{
    font-family: 'Karla', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #d81f26;
    padding-bottom: 5px;
}

main h1{
    font-family: 'Karla', sans-serif;
    font-size: 45px;
    font-weight: bold;
}

main p{
    font-family: 'Karla', sans-serif;
    font-size: 22px;
    font-weight: lighter;
    max-width: 700px;

    padding-bottom: 45px;
}

main a{

    color: white;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Karla', sans-serif;
    background: #d81f26;
    border-radius: 10px;
    user-select: none;

    width: 165px;
    height: 40px;
    
    display: flex;
    justify-content: center;
    align-items: center;

    transition: 0.5s;
}

main a:hover{
    background-color: #580b0d;
}

/*--------------------------------------------*/

footer{
    flex-grow: 1;   
}

footer a{
    text-align: center;
    text-decoration: none;
    font-family: 'Karla', sans-serif;
    color: white;
}

/*--------------------------------------------*/

.borboleta img{

    width: 60px;
    position: absolute;
    top: 90vh;
    left: 90vw;
    filter: brightness(30%);

    animation: voar 25s linear infinite;
}

@keyframes voar{
    0%{
        transform: translate(-1vw, -1vh);
    }
    100%{
        transform: translate(-101vw, -120vh);
    }
}